<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pengumuman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pengumuman</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="custom-list">
    <ion-item>
      <ion-label position="stacked">Judul Pengumuman</ion-label>
      <ion-input [(ngModel)]="Judul" placeholder="Masukkan judul"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Isi Pengumuman</ion-label>
      <ion-textarea [(ngModel)]="Isi" placeholder="Masukkan isi"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Waktu</ion-label>
      <ion-input [(ngModel)]="Waktu" placeholder="Hari/Bulan/Tanggal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button
        (click)="addPengumuman()"
        class="tambah-button"
        type="submit"
        expand="full"
        shape="round"
      >
        <ion-icon slot="start" name="add-circle"></ion-icon>
        {{ Button }}
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Body -->

  <ion-list class="custom-list">
    <ion-item *ngFor="let row of Pengumuman;">
      <ion-label>{{ row.judul }}, {{ row.isi }}, {{ row.waktu }}</ion-label>
      <ion-button
      expand="block"
      fill="clear"
      shape="round"
      (click)="HapusPengumuman(row.idpengumuman)"
      >
        <ion-icon slot="start" name="trash"></ion-icon>
      </ion-button>
      <ion-button
        expand="block"
        fill="clear"
        shape="round"
        (click)="EditPengumuman(row)"
      >
        <ion-icon slot="start" name="create"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
